html, body {
  margin: 0;
  padding: 0;
  height: 100%; 
}





.main-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  min-height: calc(100vh - 175px); 
  text-align: center;
  padding: 0 15px; 
}

.home-main-content {
  display: flex;
  justify-content: center; 
  align-items: center; 
  flex-direction: column;
  min-height: calc(100vh - 175px); 
  text-align: center;
  padding: 0 15px; 
}

.home-main-content h1 {
  font-size: 3.5rem;
  margin: 0;
}

.sub-title{
  font-size: 1.6rem;
  margin: 0;
  padding-top: 2%;
}

.setup-komga{
  font-size: 1rem;
  margin-top: 2.5%;
}

.home-main-content .get-started-btn{
  background-color: #003554;
  color: white;
  padding: 0.76rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 2%;
  font-size: 1.1rem;
  width: 200px;
}

.get-started-btn a:hover{
  background-color: #9b27b0a2;
}


@media (max-width: 768px) {
  .home-main-content h1{
    font-size: 3rem;
  }
  .sub-title{
    font-size: 1.3rem;
    padding-top: 3%;
  }
  
  .setup-komga{
    font-size: 0.9rem;
    margin-top: 2.5%;
  }

  .home-main-content .get-started-btn{
    font-size: 0.8rem;
  }

}
  

@media (max-width: 600px) {
  .home-main-content h1{
    font-size: 2.5rem;
  }
  .sub-title{
    font-size: 1rem;
    padding-top: 3%;
  }
  
  .setup-komga{
    font-size: 0.7rem;
  }

  .home-main-content .get-started-btn{
    font-size: 0.8rem;
  }
}

@media (max-width: 490px) {
  .home-main-content h1{
    font-size: 2rem;
  }
  .sub-title{
    font-size: 0.9rem;
    padding-top: 3%;
  }
  
  .setup-komga{
    font-size: 0.7rem;
  }

  .home-main-content .get-started-btn{
    font-size: 0.7rem;
  }
}

