.warn {
    display: flex;
    justify-content: center; 
    align-items: center; 
    padding: 15px ; 
    background-color: #4343436f; 
    color: #fff; 
    position: fixed;
    left: 100px;
    right: 100px;
    bottom: 0;
    font-size: 1rem;
    text-align: center;
    border-radius: 60px;
    margin-bottom: 15px;
  }

@media (max-width: 768px) {
  .warn {
    font-size: 0.8rem;
  }
}
  

@media (max-width: 600px) {
  .warn {
    font-size: 0.7rem;
    left: 5%;
    right: 5%;
  }
}

@media (max-width: 490px) {
  .warn {
    font-size: 0.7rem;
    left: 5%;
    right: 5%;
  }
}