.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0rem;
  
}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
  margin-left: 1.5rem;
}
.navbar-right {
  display: flex;
  align-items: center;
  margin: 2%;
  gap: 15px;
}

.navbar-right .login {
  color: white;
  text-decoration: none;
  margin-right: 1rem;;
}

.navbar-right .cta-button {
  color: white;
  padding-right: 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: bold;
}

.cta-button:hover{
  color: #0c8cc8;
  
}

.fab {
  margin: 1rem;
}

